<!DOCTYPE html>
<html lang="et">
<head>
 <meta charset="utf-8">
 <title>Oskar Padu</title>
</head>
<body>
 <img src="/banner/vp_banner_2024.png" alt="veebiprogrammeerimise 2024 aasta banner.">
 <h1>Oskar Padu</h1>
 <p>Seda teksti mitte kasutada ega levitada.</p>
 <P>See leht on loodud <a href="https://www.tlu.ee/" target="_blank">Tallinna Ülikoolis.</a></p>
 <hr>
 <ul>
  <li><a href="/home">Avalehele</a></li>
 </ul>
 <hr>
 <h2>Lisa filmitegelane</h2>
 <form method="POST">
  <label for="firstNameInput">Sisesta eesnimi: </label>
  <input type="text" id="firstNameInput" name="firstNameInput" placeholder="Eesnimi ...">
  <br>
  <label for="lastNameInput">Sisesta perekonnanimi: </label>
  <input type="text" id="lastNameInput" name="lastNameInput" placeholder="Perekonnanimi ...">
  <br>
  <label for="birthDateInput">Sisesta sünnikuupäev: </label>
  <input type="date" id="birthDateInput" name="birthDateInput">
  <input type="submit" id="regSubmit" name="regSubmit" value="Salvesta">
 </form>
 <p><%= notice%></p>
</body>
</html>