<!DOCTYPE html>
<html lang="et">
<head>
 <meta charset="utf-8">
 <title>Oskar Padu</title>
</head>
<body>
 <img src="/banner/vp_banner_2024.png" alt="veebiprogrammeerimise 2024 aasta banner.">
 <h1>Oskar Padu</h1>
 <p>Seda teksti mitte kasutada ega levitada.</p>
 <P>See leht on loodud <a href="https://www.tlu.ee/" target="_blank">Tallinna Ülikoolis.</a></p>
 <hr>
 <ul>
  <li><a href="/logout">Logi välja</a></li>
  <li><a href="/eestifilm">Eesti filmide info</a></li>
  <li><a href="/photoupload">Galeriifotode üleslaadimine</a></li>
  <li><a href="/gallery">Galerii</a></li>
 </ul>
</body>
</html>